<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <div class="form-body">
      <div class="form-inputs">
        <div class="form-inputs-text">
        <%= f.input :username, 
                    autofocus: true,  
                    :placeholder => "ユーザー名",
                    label: false %>
        <%= f.input :email,
                    required: true,
                    :placeholder => "メールアドレス",
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    :placeholder => "パスワード（6文字以上）",
                    label: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    :placeholder => "確認用パスワード",
                    label: false,
                    input_html: { autocomplete: "new-password" } %>
        </div>
      </div>


      <div class="form-actions">
        <%= f.button :submit, "アカウントを作成する" %>
      </div>

      <% end %>
      <div class="signin-with-twitter">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
